body {
  /*background: #f7f7f7 url("car.jpg") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: #c0392b;
  /* IE Fallback */
  background: rgba(111, 71, 143, 0.3);
  width: 100%;
  height: 100%;
}
.cust-nav li a{
    padding: 30px 25px;
    /*color: #ffffff;*/
    font-size: 16px;
}
.cust-nav li a:hover{
    background-color: transparent!important;
}
.cust-nav li a:focus{
    background-color: transparent;
}

a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{ border: none; }
.tab .nav-tabs li a{
    padding: 12px 15px;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 800;
    color: #9b9b9c;
    text-transform: uppercase;
    border: 2px solid #e5e7e9;
    border-radius: 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li a:focus,
.tab .nav-tabs li.active a{
    background: transparent;
    border: 2px solid #3a506b;
    color: #fff;
}
.tab .nav-tabs li a:before{
    content: "";
    width: 500%;
    height: 0;
    background: #6f478f;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: all 0.3s ease-in-out 0s;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{
    height: 170%;
    opacity: 1;
}
.tab .tab-content{
    padding: 20px 30px;
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
    line-height: 27px;
    letter-spacing: 1px;
    /*background: #3a506b;*/
    background:rgba(58,80,107,0.5);
    position: relative;
}
.tab .tab-content:before{
    content: "";
    border-top: 30px solid #fff;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.tab .tab-content:after{
    content: "";
    border-bottom: 30px solid #fff;
    border-top: 30px solid transparent;
    border-left: 30px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .nav-tabs li:last-child{ margin-bottom: 0; }
    .tab .nav-tabs li a:hover:before,
    .tab .nav-tabs li.active a:before{ height: 400%; }
}

.cust-btn{
    background-color: #6f478f;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
}

.cust-btn:hover{
    color: white;
}

.cust-btn:focus{
    color: white;
}